
<!DOCTYPE html>
<!--</div> -->

 <div id="pageTitle" >{{pagess.title}} </div>
 <div ng-bind-html="pagess.content | addTargetBlank"></div>
 
<div id="sidebar">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
   
    <div >
       
       
        <p style="font-size:25px;">
                    Dagens Nyheter!
        </p> 
       
        <p style="font-size: 15px;"><span><b>2016-04-05: Årsberättelse 2015</b> - <a href="www.google.se">Läs mer</a></span></p>
          
        
       
        <p style="font-size: 15px;"><span><b>2016-02-25: Miljöbron tar över världen</b> -  <a href="www.google.se">Läs mer</a></span></p>
          
        
        
      <div class="jumbotron">
          <h2>Miljöbron på Instagram</h2>      
      <div id="IG">
         <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/27a0244cd56a5bcd99e387f393c7cda6.html" id="lightwidget_27a0244cd5" name="lightwidget_27a0244cd5"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
        </div>
    
</div>
      

                
          
      
        
    
    </div>
   

</div>




