
<p> hello </p>

<!--<div ng-repeat="page in pagess"> -->

	
    
                <h1>  
                   
                        {{pagess.id}}
			{{pagess.title}}
                        {{pagess.url}}
                        {{pagess.slug}}
                        {{pagess.type}}
                 <div ng-bind-html="pagess.content"></div>
                </h1>


<!--
<div>
<h1>{{post.title}}</h1>
{{post.content}}

</div>
<!--<div ng-repeat="page in post">
    <h1>    {{page.slug}}<p> </p>
             {{page.id}}
             {{page.title}}
                <div ng-bind-html="page.content"></div>
		</h1>
	</div> -->