<!DOCTYPE html>


   <div id="pageTitle" >{{pagess.title}} </div>
   <div ng-bind-html="pagess.content | addTargetBlank"></div>


<table width="100%" border="4" bgcolor="#99cc66">
<tr>
<td bgcolor="#CC6600">cell1</td>
<td>cell2</td>
<td bgcolor="#CC6600">cell3</td>
<td>cell4</td>
</tr>
<tr>
<td>cell5</td>
<td  bgcolor="#CC6600">cell6</td>
<td>cell7</td>
<td bgcolor="#CC6600">cell8</td>
</tr>
<td bgcolor="#CC6600">cell9</td>
<td >cell10</td>
<td bgcolor="#CC6600">cell11</td>
<td>cell12</td>
</tr>
<td>cell13</td>
<td bgcolor="#CC6600">cell14</td>
<td>cell15</td>
<td bgcolor="#CC6600">cell16</td>
</tr>
</table>

